


footer{
  padding: 2% 15%;
  text-align: center;
  background-color: #0a351c;
  margin-top: 3.3%;
  font-family: 'Montserrat', sans-serif;
}

hr{
  width: 4% !important;
  margin: 50px auto !important;
  border-width: 8px !important;
  border-color: grey !important;
  border-style:dotted none none none !important;
}

.logo{
  width: 75%;

}

.fab{
  margin-right: 10px;
}

.img{
  width: 100%;

}

.download-button{
  margin: 5% 3% 5% 0;
}

.title{
  margin-top: 2%;
  text-align: center;
}

.title-content{

  font-size: 3rem;
  color: #06623b;

}
.top-container{
  font-size: 2.2rem;
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
}

.container{
  font-size: 2.2rem;
font-family: 'Rubik', sans-serif;

}


.paso{
  font-family: 'Montserrat', sans-serif;
  color: #28a745;
  font-size: 2.5rem;
}


.footer-icon{
margin: auto 20px;
color: #fff;
margin-bottom: 15px;
}

.footer-text{
  color: #fff;
}
